/*---------------------------------------------------
                  Estilos globales
----------------------------------------------------*/

/*añadimos la tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*añadimos los iconos de bootstrap*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


:root {
    --main-color-white: #ffffff;
    --main-color-black: #000000;
    --second-color-blue: #1148B3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color-white);
    color: var(--main-color-black);
    flex-direction: column;
    overflow-x : hidden;
    width: 100%;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*margenes laterales*/ 
.wrapper {
    padding-left: 7%;
    padding-right: 7%;
}

/*Estilos de texto*/
p {
    font-size: 90%;
    font-weight: 400;
    margin-bottom: 1.4em;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 220%;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: 600;
    font-size: 140%;
    margin-bottom: 0.4em;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-weight: 700;
    font-size: 150%;
    margin-bottom: 0.8em;
    margin-top: 1.2em;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.tabla{
    margin-bottom: 10px;
}


/*estilo boton*/
.boton {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    margin: auto;
    border-radius: 3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-blue);
    color: var(--main-color-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 140%;
    padding: 0.1em 0.1em;
    margin-top: 3em;
    margin-bottom: 4em;
}

/* estilos para los inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 26px;
}

.textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 26px;
}

.forgot_password {
    display: flex;
    justify-content: flex-end;
    font-size: 0.7em;
    margin-left: 0.7em;
    margin-top: 0.1em;
    font-weight: 600;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    color: #1148B3;
    margin-top: 4em;
    margin-bottom: 2em;
}

section {
    margin-top: 3em;
    margin-bottom: 3em;
}

.datos {
    margin-top: 1em;
    margin-bottom: 1em;
}



/* ------------------------------------
            ESTILOS HEADER 
---------------------------------------*/
header {
    background-color: #ffffff; /* Color de fondo del encabezado */
    color: #000000; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5); /* Sombra en la parte inferior */
    width: 100%; /* Ancho del 100% */
}

.logo img {
    max-width: 10em; /* Ajusta según el tamaño de tu logo */
    margin-left: 40px; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 30px; /* Espaciado entre elementos de menú */
}

nav ul li:last-child {
    margin-right: 40px; /* Eliminar margen derecho del último elemento de menú */
}

nav ul li a {
    text-decoration: none;
    color: #1148B3; /* Color del texto del enlace */
    font-weight: bold;
    font-size: 18px;
}

/*estilo boton*/
.boton_header {
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    margin: auto;
    border-radius: 3em;
    border: none;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.25);
    background: var(--second-color-blue);
    color: var(--main-color-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 100%;
    padding: 0.1em 0.1em;
}


/* ------------------------------------
            ESTILOS FOOTER
---------------------------------------*/

.mi-footer {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los elementos verticalmente */
    margin-top: auto; /* Alinea el footer en la parte inferior */
    margin-bottom:0; /* Alinea el footer en la parte inferior */
    background-color: #1148B3;
    color: #fff;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    height: 50px; /* Puedes ajustar la altura según sea necesario */
    width: 100%; /* Ancho del 100% */
}


.enlaces a {
    font-size: 14px;
    margin-right: 20px;
    text-decoration: none;
    text-align: center
}

.copyright {
    font-size: 14px;
    margin-top: auto; /* Hace que el texto de copyright se alinee en la parte inferior */
}